* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
.box {
  width: 500px;
  height: 400px;
  border: 1px solid red;
  margin: 30px auto;
  position: relative;
}
.box span {
  width: 50px;
  height: 50px;
  background: green;
  display: block;
  position: absolute;
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  from {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 100%;
    translate: -100%;
  }
  to {
    top: 0;
    left: 0;
  }
}
