* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
.wave {
  width: 300px;
  height: 200px;
  margin: 30px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
}
.wave span {
  display: block;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 3px;
  animation: wave 1s ease-in-out infinite;
}
.wave span:nth-child(2) {
  animation-delay: 0.1s;
}
.wave span:nth-child(3) {
  animation-delay: 0.2s;
}
.wave span:nth-child(4) {
  animation-delay: 0.3s;
}
@keyframes wave {
  50% {
    height: 60px;
  }
}
