.box {
  width: 300px;
  height: 300px;
  border: 5px solid red;
  border-radius: 20px 30px 40px 50px;
  /* border-radius: 50%; */
}

.btn {
  background: green;
  color: #fff;
  border: 0;
  border-radius: 9999px;
}
.btn-default {
  width: 100px;
  height: 35px;
}
.btn-small {
  width: 70px;
  height: 25px;
}
.btn-large {
  width: 150px;
  height: 40px;
}
