.box {
  width: 400px;
  border: 2px solid red;
  padding: 30px 20px 40px 50px;
  /* margin-left: auto;
  margin-right: auto; */
}
.container {
  width: 800px;
  border: 1px solid green;
}
.container span {
  border: 1px solid red;
  padding: 20px 30px;
  display: inline-block;
}
