* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
.box {
  width: 300px;
  border: 5px solid red;
  padding: 30px;
}
.content {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin: 30px auto;
}
.content ul {
  list-style: none;
}
.content ul li {
  display: inline-block;
}
