* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.box {
  color: green;
}
@media screen and (max-width: 1199.98px) {
  .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 991.98px) {
  .box {
    color: red;
  }
}
@media screen and (max-width: 800.98px) {
  .box {
    background: yellow;
  }
}
@media screen and (max-width: 767.98px) {
  .box {
    color: blueviolet;
  }
}
