* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
.box {
  border: 1px solid red;
  width: 700px;
  height: 500px;
  margin: 30px auto;
}
.box h1 {
  transition-property: padding-left;
  transition-duration: 3s;
  /* transition-delay: 1s; */
  transition-timing-function: cubic-bezier(0.05, 0.79, 0.94, 0.07);
}
.box:hover h1 {
  padding-left: 200px;
}
