* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #2e3e4e;
}

nav {
  width: 80%;
  margin: 30px auto;
  background: #204857;
  border-radius: 5px;
}
nav ul {
  list-style: none;
  font-size: 0;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 30px;
  font-size: initial;
}
nav ul li a:hover {
  background: rgb(251, 84, 1);
  border-radius: 5px;
}
