@mixin center {
  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
}

@mixin small-device {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}
@mixin medium-device {
  @media screen and (max-width: 991.98px) {
    @content;
  }
}
