* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 2000px;
}
.box {
  width: 300px;
  height: 400px;
  border: 1px solid red;
  margin: 30px auto;
  position: relative;
}
.item {
  width: 100px;
  height: 50px;
  background: green;
  color: #fff;
  border: 1px solid #fff;
}
.item:nth-child(2) {
  /* position: relative;
  top: 50%;
  left: calc(100% - 100px); */
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto; */
  /* position: fixed;
  top: 0;
  right: 0; */
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.item:nth-child(3) {
  position: relative;
}
