* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.card {
  width: 30%;
  border: 1px solid red;
  margin: 30px auto;
}
.card .info {
  padding: 20px;
  position: relative;
}
.card .image {
  position: relative;
}
.card .sale {
  background: red;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  display: inline-block;
  padding: 3px 6px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000086;
  display: none;
}
.card:hover .overlay {
  display: block;
}
