* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal .modal-dialog {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 600px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000094;
}
