/* h1 {
  text-decoration: underline;
}
h2 {
  text-transform: capitalize;
}
h3 {
  letter-spacing: 2px;
  word-spacing: 5px;
} */
.box {
  width: 500px;
  border: 1px solid red;
  word-wrap: break-word;
  text-align: justify;
}
.text {
  text-align: center;
}
